body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* switched the order of past present and future for overriding CSS */
.future {
  background-color: #77dd77;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* CSS Brian Added */
/* .description and timeblock havent used yet */
#scheduleContainer textarea,
#scheduleContainer .saveBtn {
  width: 100%;
  height: 100%;
}

#scheduleContainer .saveBtn {
  border-color: transparent;
  border-left: 1px solid black;
}

#scheduleContainer .col-8,
#scheduleContainer .col-sm-10,
#scheduleContainer .col-sm-1,
#scheduleContainer .col-2 {
  padding-right: 0;
  padding-left: 0;
  height: 80px;
}

#scheduleContainer .row {
  margin-bottom: 1px;
}

#scheduleContainer .hour p {
  padding-left: calc((100% - 45px));
  margin-top: -10px;
}

.saveBtn i.fas:active {
  color: black;
}

/* media queries */
@media (max-width: 520px) {

  #scheduleContainer .hour,
  #scheduleContainer .saveCol {
    -ms-flex: 0 0 16.666666%;
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }

  #scheduleContainer .eventCol {
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
  }
}

@media (max-width: 520px) {
  .display-3 {
    font-size: 3.7rem;
  }
}